.searching {
    width: 320px;
    border: 1px solid #D8E2EE;
    border-radius: 18px;
    padding: 8px;
}

.input {
    font-size: 16px;
    &::placeholder {
        font-size: 16px;
        font-weight: 500;
        color: #B6C2D2;
        padding-left: 3px;
    }
}