.sort {
    color: #344050;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 26px;

    button {
        margin-left: 30px;
        color: #344050;
        font-weight: 500;
        font-size: 16px;
        background-color: #fff;
    }
}